
{% extends 'ingredients/base.html' %}
<!--  -->
{% block content %}
    <h1>Ingredients App Home</h1>
    {% for ingredient in ingredients %}
        <div class="card my-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ ingredient.title }}</h5>
                <!-- <h5 class="card-title">{{ ingredient.catogory }}</h5> -->
                <h6 class="card-subtitle mb-2 text-muted">{{ingredient.author}}</h6>
                <p class="card-text">{{ ingredient.description }}</p>
                <h6 class="card-subtitle mb-2 text-muted">{{ingredient.updated_at|date:"F d, Y"}}</h6>
                <a href="{% url 'ingredients-detail' ingredient.pk %}" class="card-link">View Ingredient</a>
            </div>
        </div>
    {% endfor %}
{% endblock content%}
